body{
    text-align: center;
    background-color: aqua;
}
#total{
    color: blue;
}
.btn{
    color: blue;
    font-size: 20px;
}
body{
    background-image: url('../image/summer-winter.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:100vh;
    
}
.container{
    background-color: pink;
    height: 100vh;
    
}