body{
    text-align: center;
;
}
#total{
    color: blue;
}
.btn{
    color: blue;
    font-size: 20px;
}
body{
    background-image: url("../image/flower.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:100vh;
    
}
.container{
    background-color:white;
    height: 100vh;
    width: 50%;
    
    
}